<div class="wrap">

  <div class="glide multi1">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">
          <img src="assets/img/placeholder.png" alt="placeholder image" />
          Get a device
          <div class="start-here">
            START HERE <span>></span>
          </div>
        </li>
        <li class="glide__slide">
          <img src="assets/img/placeholder.png" alt="placeholder image" />
          Add a phone-line
          <div class="start-here">
            START HERE <span>></span>
          </div>
        </li>
        <li class="glide__slide">
          <img src="assets/img/placeholder.png" alt="placeholder image" />
          Upgrade
          <div class="start-here">
            START HERE <span>></span>
          </div>
        </li>
        <li class="glide__slide">
          <img src="assets/img/placeholder.png" alt="placeholder image" />
          Mobile Internet
          <div class="start-here">
            START HERE <span>></span>
          </div>
        </li>
        <li class="glide__slide">
          <img src="assets/img/placeholder.png" alt="placeholder image" />
          Home Internet
          <div class="start-here">
            START HERE <span>></span>
          </div>
        </li>
      </ul>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
    </div>
  </div>

</div>